<section class="bulk">
    <div class="regions-stats-wrapper">
        <div *ngFor="let accountsData of accountsGrouped" class="region-stats">

            <figure>
                <img [src]="'assets/img/' + regionIdToNameMap[accountsData.region_id] + '.png'">
                <figcaption>
                    {{regionIdToNameMap[accountsData.region_id]}}
                </figcaption>
            </figure>

            <div class="region-stats_stat">
                <span class="region-stats_stat-essence">
                    40k
                </span>
                <div class="region-stats_stat-box">
                    {{accountsData.accounts.Basic}}
                </div>
                <ul class="region-stats_stat-list">
                    <li>$1.5</li>
                    <li>$1.4</li>
                    <li>$1</li>
                </ul>
            </div>

            <div class="region-stats_stat">
                <span class="region-stats_stat-essence">
                    50k
                </span>
                <div class="region-stats_stat-box">
                    {{accountsData.accounts.Standard}}
                </div>
                <ul class="region-stats_stat-list">
                    <li>$1.5</li>
                    <li>$1.4</li>
                    <li>$1</li>
                </ul>
            </div>

            <div class="region-stats_stat">
                <span class="region-stats_stat-essence">
                    60k
                </span>
                <div class="region-stats_stat-box">
                    {{accountsData.accounts.Premium}}
                </div>
                <ul class="region-stats_stat-list">
                    <li>$1.5</li>
                    <li>$1.4</li>
                    <li>$1</li>
                </ul>
            </div>

            <div class="region-stats_stat">
                <span class="region-stats_stat-essence">
                    70k
                </span>
                <div class="region-stats_stat-box">
                    {{accountsData.accounts.Epic}}
                </div>
                <ul class="region-stats_stat-list">
                    <li>$1.5</li>
                    <li>$1.4</li>
                    <li>$1</li>
                </ul>
            </div>

            <div class="region-stats_stat">
                <span class="region-stats_stat-essence">
                    100k
                </span>
                <div class="region-stats_stat-box">
                    {{accountsData.accounts.Legendary}}
                </div>
                <ul class="region-stats_stat-list">
                    <li>$1.5</li>
                    <li>$1.4</li>
                    <li>$1</li>
                </ul>
            </div>

        </div>
    </div>
</section>