<section class="bulk">
    <div class="regions-stats-wrapper">
        <div *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]" class="region-stats">

            <figure>
                <img src="assets/img/RU.png">
                <figcaption>
                    RU
                </figcaption>
            </figure>

            <div *ngFor="let item of [1,1,1,1]" class="region-stats_stat">
                <span class="region-stats_stat-essence">
                    40k
                </span>
                <div class="region-stats_stat-box">
                    0
                </div>
                <ul class="region-stats_stat-list">
                    <li>$1.5</li>
                    <li>$1.4</li>
                    <li>$1</li>
                </ul>
            </div>

        </div>
    </div>
</section>