<main class="main-content main-content--bulk">
    <section class="grayish-bg">
        <app-nav></app-nav>
    
        <app-bulk-ui 
        [accounts]="stateS.allRegionsAccounts$ | async"
        [currency]="stateS.currency$ | async"
        [currencyExchangeRate]="stateS.currencyExchangeRateToDollar$ | async"
        (addToCart)="cartS.addToCart($event)"
        (setAppropriateCartToShow)="stateS.appropriateCartToShow = $event;"
        [regionIdToNameMap]="stateS.regionIdToRegionNameMap"
        ></app-bulk-ui>
    </section>
    
    <app-footer></app-footer>
</main>

<app-cart [contentType]="'bulk'" (setAppropriate)="stateS.appropriateCartToShow = 'bulk';"></app-cart>
