<footer class="main-footer">
    <div class="main-footer_content-wrapper">
        <figure>
            <img src="assets/img/RU.png" alt="Accounts Factory logo">
            <figcaption>Accounts Factory</figcaption>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore.</p>
        </figure>

        <div class="main-footer_faq">
            <h4>FAQ</h4>
            <ul>
                <li>
                    <dt>1. Can I change account details?</dt>
                    <dd></dd>
                </li>
                <li>
                    <dt>2. I have not recived an account</dt>
                    <dd></dd>
                </li>
                <li>
                    <dt>3. What name will my account have?</dt>
                    <dd></dd>
                </li>
                <li>
                    <dt>4. My account got banned</dt>
                    <dd></dd>
                </li>
                <li>
                    <dt>5. How long does it take to deliver an account?</dt>
                    <dd></dd>
                </li>
            </ul>
        </div>

        <div class="main-footer_links-list">
            <ul>
                <li>Homepage </li>
                <li>Therms and conditions </li>
                <li>Privacy policy </li>
                <li>Contact </li>
            </ul>
        </div>
    </div>
</footer>