<footer class="main-footer">
    <div class="main-footer_content-wrapper">
        <figure>
            <img src="assets/img/RU.png" alt="Accounts Factory logo">
            <figcaption>Accounts Factory</figcaption>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore.</p>
        </figure>

        <div #faqColumn class="main-footer_faq">
            <h4>FAQ</h4>
            <dl>
                <ul>
                    <li>
                        <dt class="trigger">1. Can I change account details?</dt>
                        <dd>Yes! All of our LoL accounts come with login details so you can log in to your account and change anything you like.</dd>
                    </li>
                    <li>
                        <dt class="trigger">2. I have not recived an account</dt>
                        <dd>Make sure that you check your spam mail folder. If it’s still not there please contact us.</dd>
                    </li>
                    <li>
                        <dt class="trigger">3. What name will my account have?</dt>
                        <dd>The name of the account is randomized, although they sound legit and catchy. If you are not satisfied with your name you can always buy a name change for 13900 BE in the shop.</dd>
                    </li>
                    <li>
                        <dt class="trigger">4. My account got banned</dt>
                        <dd>All of our accounts have lifetime warranty. If something happens to your League of Legends account , do not worry you’re covered by our warranty.</dd>
                    </li>
                    <li>
                        <dt class="trigger">5. How long does it take to deliver an account?</dt>
                        <dd>Account will be delivered to you instantly after purchase on the website and via e-mail.</dd>
                    </li>
                </ul>
            </dl>
        </div>
        

        <div #linksCol class="links-lists-column">
          <ul>
            <li  (click)="scrollS.navigateAndScrollToElem('.bulk', '/bulk');"> Bulk </li>
    
              <li (click)="navigateToRoute('/')">
                Homepage </li>
    
                <li (click)="navigateToRoute('/tos')"> Therms and conditions </li>
    
                <li (click)="scrollS.navigateAndScrollToElem('.privacy-policy', '/tos');"> Privacy policy </li>
          </ul>
    
          <ul>
    
            <li class="trigger">Discord <br>
              <ul class="expendable-list">
                <li>Luka#5403</li>
                <li>Petro#1468</li>
              </ul>
            </li>
    
            <li>Facebook</li>
            <li class="trigger">Email us <br>
              <ul class="expendable-list">
                <li>office@accounts4life.com</li>
              </ul>
            </li>
    
          </ul>
    
        </div>
    </div>
</footer>