.cart {
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 450px;
    @include blackish_shadow;
    
    h3 {
        font-size: 1.3rem;
        font-weight: bold;
        text-align: center;
        padding-top: 3rem;
    }

    &_empty-text {
        color: $gray;
        font-size: 1.1rem;
        text-align: center;

        small {
            display: inline-block;
            margin-top: .8rem;
            font-size: 1rem;
            font-weight: lighter;
        }
    }

    &_checkout {
        padding: 0 2rem;
        padding-bottom: 2rem;

        &-separator {
            border-top: 2px solid lighten($gray, 10%);
        }

        &-cost {
            margin: 1.8rem 0;
            font-weight: bolder;
        }

        &-redeem-coupon {
            margin: 1.8rem 0;
            font-weight: bolder;
            font-size: .9rem;
            span {
                color: $blue;
                float: right;
            }
        }

        button {
            @include btn-blue(100%);
            font-size: 1.1rem;
            letter-spacing: 1px;
            padding: 1.2rem 14px;
        }
    }

    &_order-list {
        margin-top: 2rem;

        .quantity {
            display: inline-block;
            margin-right: 1rem;
            color: $darkGray
        }

        small {
            display: inline-block;
            color: $gray;
            font-size: .85rem;
            margin-top: .4rem;
        }

        p {
            display: flex;
            flex-direction: column;
        }

        &-item {
            .price {
                margin-right: -1.2rem;
            }

            .fa-trash {
                font-size: 1.2rem;
                color: $gray;
                margin-left: -1.2rem;
            }

            display: flex;
            justify-content: space-between;
            width: calc(100% - 2rem);
            padding: 0 1rem;
            align-items: center;

            .item-desc {
                display: flex;
                margin-bottom: -1.6rem;
            }
        }
    }

}