.active-region {
    font-size: 1.7rem;
    text-align: center;
    text-shadow: 0 2px 6px $blue;
    letter-spacing: .2px;
    margin-top: -2rem;
}

.regions {
    margin: 3.5% 0;
    padding: 3rem 0;
    text-align: center;
    font-weight: bolder;

    .region {
        cursor: pointer;
    }

    h2 {
        font-size: 2.1rem;
        margin-bottom: 5rem;
    }

    &_wrapper {
        @include flex-container;
        font-size: 1.1rem;
        display: flex;
        justify-content: space-between;

        figcaption {
            margin-bottom: 1rem;
        }

        .region.active img{
            transition: .3s;
            filter: invert(28%) sepia(84%) saturate(3261%) hue-rotate(225deg) brightness(96%) contrast(90%);
        }

    }
}

@media (max-width: 1350px) {
    .regions {
        width: 85%;
        margin: 5% auto;

        figure.region:first-of-type {
            display: inline-block;
            margin-left: -16%;
        }

        figure.region:last-of-type {
            display: inline-block;
            margin-right: 10%;
        }
    }
}