<section class="checkout">
    <form [formGroup]="presenter.checkoutForm" class="identity-form">
        <h3 class="checkout_heading">Identity</h3>

        <label for="name">Full Name</label>
        <input formControlName="fullname" id="name" type="text">

        <label for="email">Email</label>
        <input formControlName="email" id="email" type="email">

        <label for="idkman">Country</label>
        <app-country-select 
            [countries]="countriesArr"
            [usersCountry]="countriesObj[usersCountry]">
        </app-country-select>

        <label for="vat">VAT</label>
        <select id="vat">
            <option selected>siema</option>
        </select>
        <small> *NOT NEEDED</small>
    </form>

    <section class="order-summary">
        <h4>Total cost <span>{{currency}} {{cartTotalPrice}}</span></h4>
        <ul class="order-summary_list">
            <li>Subtotal <span>$120.49</span></li>
            <li>Fee <span>$120.49</span></li>
            <li>Taxes <span>$12.49</span></li>
        </ul>
    </section>

    <section class="payment">
        <h3 class="checkout_heading checkout_heading--last">Select payment method</h3>

        <div class="payment_methods-wrapper">

            <figure class="payment-method active">
                <div class="payment-method_img-wrapper">
                    <img src="assets/img/visa.svg" alt="Credit card">
                    <img src="assets/img/mastercard.svg" alt="Credit card">
                    <figcaption>
                        Credit card
                    </figcaption>
                </div>
            </figure>
            <figure class="payment-method">
                <div class="payment-method_img-wrapper">
                    <img src="assets/img/payment-bank-transfer.svg" alt="Bank transfer">
                    <figcaption>
                        Bank transfer
                    </figcaption>
                </div>
            </figure>
            <figure class="payment-method">
                <div class="payment-method_img-wrapper">
                    <img src="assets/img/paypal.svg" alt="Paypal">
                    <figcaption>
                        Paypal
                    </figcaption>
                </div>
            </figure>
            <figure class="payment-method">
                <div class="payment-method_img-wrapper">
                    <img src="assets/img/visa.svg" alt="Cryptocurrency">
                    <figcaption>
                        Cryptocurrency
                    </figcaption>
                </div>
            </figure>

        </div>

        <!-- <div class="summary">
            <h4>Total cost {{cartTotalPrice}} {{currency}}</h4>
        </div> -->

    </section>

</section>