<section class="checkout">
    <form class="identity-form">

        <h3 class="checkout_heading">Identity</h3>

        <label for="name">Full Name</label>
        <input id="name" type="text">

        <label for="email">Email</label>
        <input id="email" type="email">

        <label for="country">Country</label>
        <select id="country">
            <option selected>siema</option>
        </select>

        <label for="vat">VAT</label>
        <select id="vat">
            <option selected>siema</option>
        </select>
        <small> *NOT NEEDED</small>
    </form>

    <section class="payment">
        <h3 class="checkout_heading checkout_heading--last">Select payment method</h3>

        <div class="payment_methods-wrapper">

            <figure class="payment-method active">
                <div class="payment-method_img-wrapper">
                    <img src="assets/img/visa.svg" alt="Credit card">
                    <img src="assets/img/mastercard.svg" alt="Credit card">
                </div>
                <figcaption>
                    Credit card
                </figcaption>
            </figure>
            <figure class="payment-method">
                <div class="payment-method_img-wrapper">
                    <img src="assets/img/payment-bank-transfer.svg" alt="Bank transfer">
                </div>
                <figcaption>
                    Bank transfer
                </figcaption>
            </figure>
            <figure class="payment-method">
                <div class="payment-method_img-wrapper">
                    <img src="assets/img/paypal.svg" alt="Paypal">
                </div>
                <figcaption>
                    Paypal
                </figcaption>
            </figure>
            <figure class="payment-method">
                <div class="payment-method_img-wrapper">
                    <img src="assets/img/visa.svg" alt="Cryptocurrency">
                </div>
                <figcaption>
                    Cryptocurrency
                </figcaption>
            </figure>

        </div>

    </section>

</section>