<main class="main-content main-content--medium-breakpoint">
    <section class="grayish-bg">
        <app-checkout-ui 
        [countries]="stateS.countries$ | async"
        [usersCountry]="stateS.usersCountry$ | async"
        [cartTotalPrice]="stateS.cartTotalPrice$ | async" 
        [currency]="stateS.currency$ | async"
        [vat]="stateS.vatRate$ | async"
        [cart]="stateS.cart$ | async"
        [bulkCart]="stateS.bulkCart$ | async"
        [selectedCountryCode]="stateS.selectedCountryCode$ | async"
        (getVat)="stateS.loadVatRate($event)">
    </app-checkout-ui>
    </section>
</main>

<app-cart [mediumHideBreakdownFlag]="true" [contentType]="'checkout'"></app-cart>