<section class="tos">

    <dl class="tos_dl">
        <h3>
            REFUNDS & REPLACEMENTS <br>
            <small>Last Updated 17.07.2020</small>
        </h3>
        <dt>
            REFUND POLICY
        </dt>
    
        <dd>
            In the occurence of the delivered product being faulty, not meeting its description or becoming faulty within its warranty period, we will the product. 
            Warranties on our products only cover defects that the customer did not negatively contribute to with his activity.
            Product warranties might have different binding periods with "Lifetime warranty" referring to warranty for as long as our website remains in operation but not less than 6 months.
        </dd>

        <dt class="privacy-policy">
            CANCELLATION
        </dt>

        <dd>
            You can cancel your order in case of a late delivery or the product being not as described.
            Because the products being sold are digital, transactions where the supplied good was delivered as described and in a reasonable timeframe will be cancelable only with the agreement of our support.
        </dd>

        <h3>
            PRIVACY POLICY <br>
            <small>
                Last Updated 17.07.2020
            </small>
        </h3>

        <dt>
            COOKIES
        </dt>

        <dd>
            Cookies created by accounts4life.com serve functionality purposes (such as currency management or form pre-filling). We also use cookies from 3rd party vendors. Those cookies serve marketing, analytical and functionality purposes.
            You can disable cookies in every browser. To do so, please follow the instructions from your browser provider. Note that after doing so, you won't be able to use websites whose functionality relies on cookies.
        </dd>


        <dt>
            PERSONAL INFORMATION
        </dt>

        <dd>
            We store your e-mail address, IP address and country code of the IP address to maintain order history and remain tax compliant.
            You may withdraw your e-mail address from our database at any time by sending an inquiry to office@accounts4life.com.
            accounts4life.com does not store any of your payment information. Storing such information is the duty of our payment processors.
        </dd>

        <h3>
            TERMS AND CONDITIONS <br>
            <small>
                Last Updated 17.07.2020
            </small>
        </h3>

        <dt>
            GENERAL
        </dt>

        <dd>
            These Terms and Conditions constitute a legally binding agreement made between you, whether personally or on behalf of an entity (you), and L&P International Spółka z.o.o (LTD) Poland, Katowice, 3 Maja 22/2c 40-096.
            The Site provides the following services: Sale of digital goods in online games (Services), which are obtained in form of rewards for progressing in them.
            All Services are delivered digitally, via e-mail and our IT system (product details become visible immediately after the payment, on the page you are redirected to).
            The Site collects instant, one-time payments only.
            You agree that by accessing the Site and/or Services, you have read, understood, and agree to be bound by all of these Terms and Conditions. If you do not agree with all of these Terms and Conditions, then you are prohibited from using the Site and Services and you must discontinue use immediately. We recommend that you print a copy of these Terms and Conditions for future reference.
            We may make changes to these Terms and Conditions at any time. The updated version of these Terms and Conditions will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. You are responsible for reviewing these Terms and Conditions to stay informed of updates. Your continued use of the Site represents that you have accepted such changes.
            We may update or change the Site from time to time to reflect changes to our products, our users' needs and/or our business priorities.
            The Site is intended for users who are at least 18 years old. If you are under the age of 18, you are not permitted to use the Services without parental permission.
            Additional policies which also apply to your use of the Site include:
            ● Our Privacy Policy which sets out the terms on which we process any personal data we collect from you, or that you provide to us. By using the Site, you consent to such processing and you warrant that all data provided by you is accurate.
            ● Our Refund Policy, which describe our warranty and refund policies for the goods sold on our website.
        </dd>

        <dt>
            OUR CONTENT
        </dt>

        <dd>
            Unless otherwise indicated, the Site and Services including source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics on the Site (Our Content) are owned or licensed to us, and are protected by copyright and trade mark laws.
            Except as expressly provided in these Terms and Conditions, no part of the Site, Services or Our Content may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose whatsoever, without our express prior written permission.
            Provided that you are eligible to use the Site, you are granted a limited licence to access and use the Site and Our Content and to download or print a copy of any portion of the Content to which you have properly gained access solely for your personal, non-commercial use.
            You shall not (a) try to gain unauthorised access to the Site or any networks, servers or computer systems connected to the Site; and/or (b) make for any purpose including error correction, any modifications, adaptions, additions or enhancements to the Site or Our Content, including the modification of the paper or digital copies you may have downloaded.
            Although we make reasonable efforts to update the information on our site, we make no representations, warranties or guarantees, whether express or implied, that Our Content on the Site is accurate, complete or up to date.
        </dd>

        <dt>
            SITE MANAGEMENT
        </dt>

        <dd>
            We do not guarantee that the Site will be secure or free from bugs or viruses. You are responsible for configuring your information technology, computer programs and platform to access the Site and you should use your own virus protection software.
            MODIFICATIONS TO AND AVAILABILITY OF THE SITE
            We reserve the right to change, modify, or remove the contents of the Site at any time or for any reason at our sole discretion without notice. We also reserve the right to modify or discontinue all or part of the Services without notice at any time.
            We cannot guarantee the Site and Services will be available at all times. We may experience hardware, software, or other problems or need to perform maintenance related to the Site, resulting in interruptions, delays, or errors. You agree that we have no liability whatsoever for any loss, damage, or inconvenience caused by your inability to access or use the Site or Services during any downtime or discontinuance of the Site or Services.
            We are not obliged to maintain and support the Site or Services or to supply any corrections, updates, or releases.
            There may be information on the Site that contains typographical errors, inaccuracies, or omissions that may relate to the Services, including descriptions, pricing, availability, and various other information. We reserve the right to correct any errors, inaccuracies, or omissions and to change or update the information at any time, without prior notice.
        </dd>

        <dt>
            COMPLAINTS
        </dt>

        <dd>
            In order to resolve a complaint regarding the Services, please contact us by email at office@accounts4life.com.
        </dd>

        <dt>
            DISCLAIMER/LIMITATION OF LIABILITY
        </dt>

        <dd>        
            The Site and Services are provided on an as-is and as-available basis. You agree that your use of the Site and/or Services will be at your sole risk except as expressly set out in these Terms and Conditions. All warranties, terms, conditions and undertakings, express or implied (including by statute, custom or usage, a course of dealing, or common law) in connection with the Site and Services and your use thereof including, without limitation, the implied warranties of satisfactory quality, fitness for a particular purpose and non-infringement are excluded to the fullest extent permitted by applicable law.
            We make no warranties or representations about the accuracy or completeness of the Site’s content and are not liable for any (1) errors or omissions in content; (2) any unauthorized access to or use of our servers and/or any and all personal information stored on our server; (3) any interruption or cessation of transmission to or from the site or services; and/or (4) any bugs, viruses, trojan horses, or the like which may be transmitted to or through the site by any third party. We will not be responsible for any delay or failure to comply with our obligations under these Terms and Conditions if such delay or failure is caused by an event beyond our reasonable control.
        </dd>

        <dt>
            TERM AND TERMINATION
        </dt>

        <dd>
            These Terms and Conditions shall remain in full force and effect while you use the Site or Services or are otherwise a user of the Site, as applicable. You may terminate your use or participation at any time, for any reason, by following the instructions for terminating user accounts in your account settings, if available, or by contacting us at office@accounts4life.com.
            Without limiting any other provision of these Terms and Conditions, we reserve the right to, in our sole discretion and without notice or liability, deny access to and use of the Site and the Services (including blocking certain IP addresses), to any person for any reason including without limitation for breach of any representation, warranty or covenant contained in these Terms and Conditions or of any applicable law or regulation.
        </dd>

        <dt>
            CONTACT INFORMATION
        </dt>

        <dd class="tos_contact-dd">
            E-mail: office@accounts4life.com <br>
            Discord: Luka#5403 or Petro#1468 <br>
            L&P International Spółka z.o.o Poland, Katowice, 3 Maja 22/2c 40-096, Poland
        </dd>

    </dl>

</section>
