<nav [ngClass]="{'homepage': homepageStyles, 'active': navActiveFlag}" class="nav">
    <div class="nav_content-wrapper">
        <img src="assets/img/accountLogo.svg" alt="Accounts Factory logo" routerLink="/" class="nav_logo">

        <div class="nav_ulNdropdown">
            <ul class="nav_links-list">

                <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav_link">Home</li>
                <li routerLink="/bulk" routerLinkActive="active" class="nav_link">Bulk</li>
                <li routerLink="/checkout" routerLinkActive="active" class="nav_link">Checkout</li>
                <li routerLink="/tos" class="nav_link nav_link--dropdown">
                    More
                    <ul>
                        <li routerLink="/tos">TOS</li>
                        <li (click)="scrollS.navigateAndScrollToElem('.privacy-policy', '/tos');">Privacy policy</li>
                        <li routerLink="/">Home</li>
                    </ul>
                </li>

            </ul>

            <div class="nav_currency-dropdown">
                {{activeCurrency}}
                <span class="fa fa-chevron-down"></span>
                <ul>
                    <li *ngFor="let option of currencyOptionsToDisplay" (click)="currencyChange.emit(option)">{{option}}</li>
                </ul>
            </div>

        </div>
    </div>
    <span #hamburger class="hamburger" [ngClass]="{'hamburger--open': navActiveFlag}" (click)="navActiveFlag = !navActiveFlag" href="#">
        <div class="hamburger__inner"></div>
      </span>
</nav>