/* You can add global styles to this file, and also import other style files */
@import 'styles/colors';
@import 'styles/typography';
@import 'styles/mixins/';
@import 'styles/normalize.scss';

body {
    font-family: 'Poppins';
    color: $black;
}

.quantity-btns-wrapper {
    @include qtity_btns;

    &--cart {
        width: 5rem;
        margin-right: -2rem;
    }
}

@import 'styles/pages/';
@import 'styles/shared/';