/* You can add global styles to this file, and also import other style files */
@import 'styles/colors';
@import 'styles/typography';
@import 'styles/mixins/';
@import 'styles/normalize';
@import 'styles/breakpoints';

body {
    font-family: 'Poppins' !important;
    color: $black;
}

.grayish-bg {
    background: #F7F7F7;
    padding-bottom: 1rem;
}

.main-content {
    width: calc(100% - 420px);
    position: relative;
    margin-right: 420px;
}

@media (max-width: $l1) {
    .main-content:not(.main-content--medium-breakpoint) {
        width: 100%;
        margin-right: 0;
    }
}

@media (max-width: $m1) {
    .main-content {
        width: 100%;
        margin-right: 0;
    }
}

@import 'styles/pages/';
@import 'styles/shared/';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
