<section class="hero">
  <div class="hero_content-wrapper">
    <h1>
      If you want to buy a lot of accounts go to
    </h1>
    <br>
    <button>Bulk</button>
  </div>
</section>

<section class="regions">
  <h2>Choose your region</h2>

  <div class="regions_wrapper">

    <figure (click)="onRegionSelected.emit(region.name)" class="region" *ngFor="let region of regions">
      <figcaption>
        {{region.name}}
      </figcaption>

      <img [src]="'assets/img/' + region.name + '.png'" [alt]="region.name">
    </figure>

  </div>
</section>

<section class="accounts">

  <div class="accounts_wrapper">

    <div class="account" *ngFor="let acc of accounts">
      <figure>
        <img [src]="'assets/img/' + acc.name + '.svg'" alt="essence_img">
      </figure>

      <p class="account_upper-text">
        <span> {{acc.name | uppercase }} <br>
          30 lvl instant delivery
        </span>
        <br>
        <b>{{acc.price_usd}} USD</b>
      </p>

      <p class="account_lower-text">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.
      </p>

      <!-- oddzielny komponent z input i output, w reactcie to bylby dummy -->
      <div class="quantity-btns-wrapper">
        <button>-</button>
        {{acc.selQuantity}}
        <button>+</button>
      </div>

      <div class="account_actions">
        <button *ngIf="acc.count == 0" class="outOfStock">Out of stock</button>
        <button (click)="addToCart.emit(acc)" *ngIf="acc.count > 0">Buy now</button>
      </div>
    </div>

  </div>

</section>